

QTextEdit {
    border: 1px solid #398ebb;
    padding: 0;
    border-radius: 1px;
    background-color: #f3ebdc;
    font-family: Helvetica;
    font-size: 12pt;
    color: #2b2b2b;
    /*min-height: 500px;*/



}

ThemeEditor {
    border-bottom: none;
    border-top: 1px solid #398ebb;
    border-left: 1px solid #398ebb;
    border-right: 1px solid #398ebb;
    padding: 0;

    background-color: #f3ebdc;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10pt;
    color: #2b2b2b;
    min-height: 10px;
    text-align: right;
    text-indent: 10em;

}

AttachWidget {
    background-color: #e8e8e8;
    border-bottom: 1px solid #398ebb;
    border-top: none;
    border-left: 1px solid #398ebb;
    border-right: 1px solid #398ebb;
}

Tool {
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #398ebb;
    border-right: 1px solid #398ebb;

}

QMainWindow {
    border-bottom: 1px solid #398ebb;
    border-top: 1px solid #398ebb;
    border-left: none;
    border-right: none;

}

AttachWidget {
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #34bb4d;
    border-right: 1px solid #34bb4d;
}

AttachFile {
    border-bottom: 1px solid #34bb4d;
    border-top: none;
    border-left: none;
    border-right: none;
}

QPushButton#file_btn {
    font-family: "Helvetica";
    font-size: 8pt;
    font: italic;
    color: #2b2b2b;

    text-align: left;
    /*text-indent: 10em;*/
}

QPushButton#del_file {
    border: none;
    padding: 0;
}

QPushButton#file_btn {
    border: none;
    padding: 0;
}

QPushButton#file_btn:hover {
    border: none;
    padding: 0;
    color: #0e6c0e;

    text-align: left;
}