<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
- Касса по клубу (Z-отчёт) -  {{z_report}} грн.<br>
- Касса по бару - {{bar_income}}грн.<br>
{% if dop_doh_mess is not none %} {{dop_doh_mess}} {% else %} {{not_mess}} {% endif %}
- Касса админа - {{admin_income}} грн.<br>
- Разменка - {{change_money}} грн.<br>
<b>Всего по доходам - {{total_income}} грн.</b><br><br>


{% if expenses_mess is not none %} {{expenses_mess}} {% else %} {{not_mess}} {% endif %}
- Разменка - {{change_money_expenses}} грн.<br><br>

<b>Авансы и зарплаты:</b><br>
{% if salary_mess is not none %} {{salary_mess}} {% else %} {{not_mess}} {% endif %}

<b>Итого по расходам  - {{all_expenses}} грн.</b>
<br>
<br>
<b>Итого в сейф - {{total_in_safe}} грн.</b>
</body>
</html>