<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <style>
   p {
    text-indent: 5px; /* Отступ первой строки в пикселах */
   }
  </style>
</head>
<body>
<p>
     отчёт админ {{klub_name}}
    {% if begin_valid %} <font color="#2b2b2b">{{begin_date}}</font>
    {% else %} <font color="red">{{begin_date}}</font>
    {% endif %}
    -
    {% if end_valid %} <font color="#2b2b2b">{{end_date}}</font>
    {% else %} <font color="red">{{end_date}}</font>
    {% endif %}

    {% if time_valid %} <font color="#2b2b2b">({{time}})</font>
    {% else %} <font color="red">({{time}})</font>
    {% endif %}
</p>
</body>
</html>